In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'D:\Attivo Trainning\Technical Videos\AI_ML\Jupyter Notebook Daily Practice\Day9_9_07_2025\Indian Kids Screen Time 2025\Indian_Kids_Screen_Time.csv')

In [3]:
df.head()

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
0,14,Male,3.99,Smartphone,True,0.42,"Poor Sleep, Eye Strain",Urban
1,11,Female,4.61,Laptop,True,0.30,Poor Sleep,Urban
2,18,Female,3.73,TV,True,0.32,Poor Sleep,Urban
3,15,Female,1.21,Laptop,False,0.39,NaN,Urban
4,12,Female,5.89,Smartphone,True,0.49,"Poor Sleep, Anxiety",Urban

In [4]:
df.isnull().sum()

Age                                     0
Gender                                  0
Avg_Daily_Screen_Time_hr                0
Primary_Device                          0
Exceeded_Recommended_Limit              0
Educational_to_Recreational_Ratio       0
Health_Impacts                       3218
Urban_or_Rural                          0
dtype: int64

In [5]:
df1 = df.drop(['Health_Impacts'], axis = 'columns', inplace = True)

In [6]:
df.head()

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Urban_or_Rural
0,14,Male,3.99,Smartphone,True,0.42,Urban
1,11,Female,4.61,Laptop,True,0.30,Urban
2,18,Female,3.73,TV,True,0.32,Urban
3,15,Female,1.21,Laptop,False,0.39,Urban
4,12,Female,5.89,Smartphone,True,0.49,Urban

In [7]:
col_to_encode = ['Gender', 'Primary_Device', 'Exceeded_Recommended_Limit', 'Urban_or_Rural']

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in col_to_encode:
    df[col] = le.fit_transform(df[col])
    df.head()

In [9]:
X = df.drop('Urban_or_Rural', axis = 'columns')

In [10]:
X.head()

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio
0,14,1,3.99,1,1,0.42
1,11,0,4.61,0,1,0.30
2,18,0,3.73,2,1,0.32
3,15,0,1.21,0,0,0.39
4,12,0,5.89,1,1,0.49

In [11]:
y = df['Urban_or_Rural']

In [12]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Urban_or_Rural, dtype: int64

In [13]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestRegressor

In [14]:
kf = KFold(n_splits = 5, shuffle = True, random_state = 32)

In [15]:
reg = RandomForestRegressor()

In [16]:
scores = cross_val_score(reg, X, y, cv=kf)

In [17]:
print(scores)

[-0.19794563 -0.15800567 -0.13588439 -0.14604341 -0.13571384]

In [18]:
scores.mean()

np.float64(-0.1547185876369836)