In [24]:
import pandas as pd

In [25]:
df = pd.read_csv(r'D:\Attivo Trainning\Technical Videos\AI_ML\Jupyter Notebook Daily Practice\Day8_8_07_2025\SVM-Regressor_Forest_Fires\forestfires.csv')

In [26]:
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [27]:
df.isnull().sum()

X        0
Y        0
month    0
day      0
FFMC     0
DMC      0
DC       0
ISI      0
temp     0
RH       0
wind     0
rain     0
area     0
dtype: int64

In [28]:
df1 = df.drop(['rain', 'area'], axis = 'columns', inplace = True)

In [29]:
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8

In [31]:
col_to_encode = ['month', 'day']

In [32]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in col_to_encode:
    df[col] = le.fit_transform(df[col])
    df.head()

In [33]:
X = df.drop('temp', axis = 'columns')

In [34]:
X.head()

   X  Y  month  day  FFMC   DMC     DC  ISI  RH  wind
0  7  5      7    0  86.2  26.2   94.3  5.1  51   6.7
1  7  4     10    5  90.6  35.4  669.1  6.7  33   0.9
2  7  4     10    2  90.6  43.7  686.9  6.7  33   1.3
3  8  6      7    0  91.7  33.3   77.5  9.0  97   4.0
4  8  6      7    3  89.3  51.3  102.2  9.6  99   1.8

In [35]:
y = df['temp']

In [36]:
y.head()

0     8.2
1    18.0
2    14.6
3     8.3
4    11.4
Name: temp, dtype: float64

In [37]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestRegressor

In [38]:
kf = KFold(n_splits = 5, shuffle = True, random_state = 32)

In [39]:
reg = RandomForestRegressor()

In [40]:
scores = cross_val_score(reg, X, y, cv=kf)

In [41]:
print(scores)

[0.83725607 0.80028705 0.78927729 0.82239956 0.77624817]

In [42]:
scores.mean()

np.float64(0.805093627130374)