In [71]:
import pandas as pd

In [72]:
from sklearn.preprocessing import LabelEncoder

In [70]:
AI_job = pd.read_csv(r'C:\Users\yasha\Desktop\AI_ML\AI_ML_DailyPractice\Day3_1_07_2025\AI Job\ai_job_market_insights.csv')

In [73]:
AI_job.head()

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection
0,Cybersecurity Analyst,Entertainment,Small,Dubai,Medium,High,UX/UI Design,111392.165243,Yes,Growth
1,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,93792.562466,No,Decline
2,AI Researcher,Technology,Large,Singapore,Medium,High,UX/UI Design,107170.263069,Yes,Growth
3,Sales Manager,Retail,Small,Berlin,Low,High,Project Management,93027.953758,No,Growth
4,Cybersecurity Analyst,Entertainment,Small,Tokyo,Low,Low,JavaScript,87752.922171,Yes,Decline

In [74]:
AI_job.tail()

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection
495,Data Scientist,Telecommunications,Medium,Berlin,Low,Medium,Machine Learning,105821.394046,Yes,Stable
496,Cybersecurity Analyst,Telecommunications,Small,London,Low,High,UX/UI Design,119794.992146,No,Decline
497,Cybersecurity Analyst,Energy,Large,Dubai,High,Low,UX/UI Design,79644.933099,Yes,Stable
498,Operations Manager,Healthcare,Large,Paris,High,Low,Python,77642.150625,Yes,Stable
499,HR Manager,Entertainment,Medium,Berlin,Medium,High,Project Management,68764.378921,Yes,Decline

In [75]:
AI_job.shape

(500, 10)

In [76]:
AI_job.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Job_Title              500 non-null    object
 1   Industry               500 non-null    object
 2   Company_Size           500 non-null    object
 3   Location               500 non-null    object
 4   AI_Adoption_Level      500 non-null    object
 5   Automation_Risk        500 non-null    object
 6   Required_Skills        500 non-null    object
 7   Salary_USD             500 non-null    float64
 8   Remote_Friendly        500 non-null    object
 9   Job_Growth_Projection  500 non-null    object
dtypes: float64(1), object(9)
memory usage: 39.2+ KB

In [77]:
AI_job.describe()

          Salary_USD
count     500.000000
mean    91222.390974
std     20504.291453
min     31969.526346
25%     78511.514863
50%     91998.195286
75%    103971.282092
max    155209.821614

In [78]:
AI_job.columns

Index(['Job_Title', 'Industry', 'Company_Size', 'Location',
       'AI_Adoption_Level', 'Automation_Risk', 'Required_Skills', 'Salary_USD',
       'Remote_Friendly', 'Job_Growth_Projection'],
      dtype='object')

In [79]:
AI_job.dtypes

Job_Title                 object
Industry                  object
Company_Size              object
Location                  object
AI_Adoption_Level         object
Automation_Risk           object
Required_Skills           object
Salary_USD               float64
Remote_Friendly           object
Job_Growth_Projection     object
dtype: object

In [80]:
AI_job.isnull().sum()

Job_Title                0
Industry                 0
Company_Size             0
Location                 0
AI_Adoption_Level        0
Automation_Risk          0
Required_Skills          0
Salary_USD               0
Remote_Friendly          0
Job_Growth_Projection    0
dtype: int64

In [81]:
AI_job.duplicated().sum()

np.int64(0)

In [28]:
from sklearn.model_selection import train_test_split

In [82]:
X = AI_job['Salary_USD']

In [83]:
X.head()

0    111392.165243
1     93792.562466
2    107170.263069
3     93027.953758
4     87752.922171
Name: Salary_USD, dtype: float64

In [86]:
y = AI_job[['Company_Size']]

In [87]:
y.head()

  Company_Size
0        Small
1        Large
2        Large
3        Small
4        Small

In [88]:
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size = 0.2, random_state = 5)

In [89]:
X_train

247     71529.492165
390    111189.610603
186     55906.059730
484     72034.125083
139    101964.987493
           ...
486     73692.802195
189     51676.656407
495    105821.394046
206     83680.825471
355    109105.509525
Name: Salary_USD, Length: 400, dtype: float64

In [90]:
X_train.shape

(400,)

In [91]:
y_train.shape

(400, 1)

In [92]:
X_test.shape

(100,)

In [93]:
y_test.shape

(100, 1)

In [94]:
le = LabelEncoder()

In [97]:
columns_to_encode = ["Company_Size"]
for columns in columns_to_encode:
    AI_job[columns] = le.fit_transform(AI_job['Company_Size'])
AI_job.head()

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection
0,Cybersecurity Analyst,Entertainment,2,Dubai,Medium,High,UX/UI Design,111392.165243,Yes,Growth
1,Marketing Specialist,Technology,0,Singapore,Medium,High,Marketing,93792.562466,No,Decline
2,AI Researcher,Technology,0,Singapore,Medium,High,UX/UI Design,107170.263069,Yes,Growth
3,Sales Manager,Retail,2,Berlin,Low,High,Project Management,93027.953758,No,Growth
4,Cybersecurity Analyst,Entertainment,2,Tokyo,Low,Low,JavaScript,87752.922171,Yes,Decline