In [3]:
import pandas as pd
df1 = pd.read_csv(r'C:\\Users\\yasha\Desktop\\AI_ML\\AI_ML_DailyPractice\\Day2_27_06_2025\\Heart Attack.csv')
df1

,age,gender,impluse,pressurehight,pressurelow,glucose,kcm,troponin,class
0,64,1,66,160,83,160.0,1.80,0.012,negative
1,21,1,94,98,46,296.0,6.75,1.060,positive
2,55,1,64,160,77,270.0,1.99,0.003,negative
3,64,1,70,120,55,270.0,13.87,0.122,positive
4,55,1,64,112,65,300.0,1.08,0.003,negative
...,...,...,...,...,...,...,...,...,...
1314,44,1,94,122,67,204.0,1.63,0.006,negative
1315,66,1,84,125,55,149.0,1.33,0.172,positive
1316,45,1,85,168,104,96.0,1.24,4.250,positive
1317,54,1,58,117,68,443.0,5.80,0.359,positive
1318,51,1,94,157,79,134.0,50.89,1.770,positive

In [9]:
drop_firsts = True

In [8]:
from sklearn.model_selection import train_test_split

In [6]:
X = df1.age

In [7]:
X.head()

0    64
1    21
2    55
3    64
4    55
Name: age, dtype: int64

In [16]:
y = df1['gender'] == 'male'

In [17]:
y.head()

0    False
1    False
2    False
3    False
4    False
Name: gender, dtype: bool

In [18]:
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size = 0.3, random_state = 30)

In [19]:
X_train

427     58
69      46
981     21
1214    66
839     39
        ..
919     47
1164    52
500     19
941     50
421     80
Name: age, Length: 923, dtype: int64

In [20]:
X_train.shape

(923,)

In [21]:
y_train.shape

(923,)

In [22]:
X_test.shape

(396,)

In [23]:
y_test.shape

(396,)

In [27]:
X = df1.drop('gender_male', axis ='columns', errors ='ignore')

In [25]:
X.head()

0    64
1    21
2    55
3    64
4    55
Name: age, dtype: int64

In [29]:
from sklearn.preprocessing import LabelEncoder

In [30]:
le = LabelEncoder()

In [37]:
#df1 = df.copy
columns_to_encode = ['troponin', 'glucose']
for columns in columns_to_encode:
    df1[columns] = le.fit_transform(df1[columns])
df1.head()

,age,gender,impluse,pressurehight,pressurelow,glucose,kcm,troponin,class
0,64,1,66,160,83,96,1.80,11,negative
1,21,1,94,98,46,199,6.75,251,positive
2,55,1,64,160,77,186,1.99,2,negative
3,64,1,70,120,55,186,13.87,102,positive
4,55,1,64,112,65,201,1.08,2,negative

In [12]:
#import pandas as pd
#df1 = pd.read_csv(r'C:\\Users\\yasha\Desktop\\AI_ML\\AI_ML_DailyPractice\\Day2_27_06_2025\\Heart Attack.csv')
X = df1.drop("class", axis = 'columns')

In [13]:
X.head()

   age  gender  impluse  pressurehight  pressurelow  glucose    kcm  troponin
0   64       1       66            160           83    160.0   1.80     0.012
1   21       1       94             98           46    296.0   6.75     1.060
2   55       1       64            160           77    270.0   1.99     0.003
3   64       1       70            120           55    270.0  13.87     0.122
4   55       1       64            112           65    300.0   1.08     0.003

In [15]:
y = df1['class']

In [16]:
y.head()

0    negative
1    positive
2    negative
3    positive
4    negative
Name: class, dtype: object

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 30)

In [24]:
X_train.head()

,age,gender,impluse,pressurehight,pressurelow,glucose,kcm,troponin
592,50,1,57,138,75,294.0,4.61,0.003
520,51,0,100,117,57,249.0,1.85,0.004
426,21,1,85,138,98,257.0,9.90,0.003
1133,65,0,80,129,89,85.0,2.79,0.004
1016,63,1,64,106,68,85.0,2.39,0.012