In [1]:
import pandas as pd

In [2]:
la = pd.read_csv(r"C:\Users\yasha\Desktop\AI_ML\AI_ML_DailyPractice\Day6_4_07_2025\Logistic Regression\Classification\Codeforces Ratings\classification_df.csv")

In [3]:
la.head()

,userid,rank-type,contest1,contest2,contest3,contest4,contest5,contest6,contest7,contest8,contest9,contest10
0,3143927301,Candidate Master,2078,2055,2115,2047.0,2024.0,2010.0,1953.0,1936.0,2042.0,2045.0
1,1876577621,Master,2194,2114,2152,2179.0,2211.0,2154.0,2170.0,2141.0,2157.0,2209.0
2,6397741793,Master,2120,2206,2147,2234.0,2294.0,2090.0,2089.0,2072.0,2085.0,2114.0
3,3090123616,Master,2224,2222,2166,2116.0,2029.0,2113.0,2104.0,2096.0,2115.0,2163.0
4,9564162806,Master,2128,2120,2072,2018.0,1963.0,2039.0,1932.0,1963.0,1960.0,1886.0

In [4]:
la.isnull().sum()

userid         0
rank-type      0
contest1       0
contest2       0
contest3       0
contest4       1
contest5      19
contest6      49
contest7      80
contest8     120
contest9     144
contest10    171
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le = LabelEncoder()

In [7]:
la.dropna(inplace=True)

In [8]:
la = pd.get_dummies(la, columns=["userid", "contest1", "contest2",	"contest3", "contest4", "contest5", "contest6", "contest7"], drop_first=True)

In [9]:
X = la.drop("rank-type", axis = 'columns')

In [10]:
X.head()

,contest8,contest9,contest10,userid_1031464027,userid_1032830327,userid_1045791625,userid_1048152852,userid_1049300851,userid_1061997862,userid_1072463194,...,contest7_3020.0,contest7_3027.0,contest7_3042.0,contest7_3086.0,contest7_3096.0,contest7_3134.0,contest7_3165.0,contest7_3379.0,contest7_3415.0,contest7_3724.0
0,1936.0,2042.0,2045.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2141.0,2157.0,2209.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2072.0,2085.0,2114.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2096.0,2115.0,2163.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1963.0,1960.0,1886.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
y = la["rank-type"]

In [12]:
y.head()

0    Candidate Master
1              Master
2              Master
3              Master
4              Master
Name: rank-type, dtype: object

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 5)

In [15]:
X_train.shape

(1001, 5809)

In [16]:
X_test.shape

(251, 5809)

In [17]:
y_test.shape

(251,)

In [18]:
y_train.shape

(1001,)

In [19]:
from sklearn.linear_model import LogisticRegression

In [23]:
log_reg = LogisticRegression(solver='saga', max_iter=1000)

In [ ]:
log_reg.fit(X_train, y_train)

In [ ]:
y_pred = log_reg.predict(X_test)