In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
df = pd.read_csv(r'C:\Users\\yasha\\Desktop\\AI_ML\\AI_ML_DailyPractice\\Day2_27_06_2025\\Heart Attack.csv')
df.head()
df1 = df[['age','gender']]
df1.head()

   age  gender
0   64       1
1   21       1
2   55       1
3   64       1
4   55       1

In [2]:
# Label Encoding
le = LabelEncoder()
df1.loc[:, 'gender'] = le.fit_transform(df1['gender'])
df1.head()

   age  gender
0   64       1
1   21       1
2   55       1
3   64       1
4   55       1

In [3]:
# One-Hot Encoding
df2 = df[['age', 'gender']]
df2.head()

   age  gender
0   64       1
1   21       1
2   55       1
3   64       1
4   55       1

In [6]:
df4 = pd.get_dummies(df2, columns=['gender'])
#df4.head()
print(df4.columns)
gender_columns = [col for col in df4.columns if col.startswith('gender_female')]
df3 = df4[['age'] + gender_columns[0:1]]
#df3 = df4[['age','gender_female']]
df3.head()

Index(['age', 'gender_0', 'gender_1'], dtype='object')

   age
0   64
1   21
2   55
3   64
4   55